.detail {
    background-color: rgb(53, 53, 53);
    padding: 20px;
    border-radius: 10px;
    max-height: 45vw;
    overflow-y: scroll;
  }

.extended-title{
    color: #ffffff;
    font-weight: bold;
    text-align: center;

  
  }

@media (max-width: 1024px){
    .detail {

      width: 40vw;
    }
} 

@media (max-width: 425px){
    .detail{
        max-height: 425px;
        overflow-y: scroll;
        margin-bottom: 20px;
        border-radius: 0px;
        width: 100vw;

    }
}

