.locationList{
    max-height: 45vw;
    transform: scale(0.98);
    overflow-y: scroll;
    box-shadow: 0 0 10px 15px white inset;
    border-radius: 20px;

}

@media (max-width: 425px){
    .locationList{
        max-height: 425px;
        
        margin-bottom: 20px;

    }
}
::-webkit-scrollbar {
    
    display: none;
}