.wheatherLocationCont {
  width: 400px;
  height: 170px;
  margin: 15px;
  -webkit-box-shadow: 29px 10px 86px -50px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 29px 10px 86px -50px rgba(0, 0, 0, 0.62);
  box-shadow: 29px 10px 86px -50px rgba(0, 0, 0, 0.62);
  background-color: floralwhite;
}





@media (max-width: 425px) {
  .wheatherLocationCont {
    width: 360px;
    height: 170px;
    transform: scale(0.9);
    max-height: 425px;
    margin-bottom: 20px;
    margin: 0px;
  }

}



.locationCont {
  background-color: #585858;
  height: 45px;
  text-align: left;
  padding-left: 5%;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.locationText {
  padding-top: 2.5%;
  font-weight: bold;
}

.preloader-wrapper {
  margin-top: 35px;
  filter: drop-shadow(0 2px 5px rgba(29, 26, 21, 0.13));
}
