

.App {

  font-weight: bold;
  background-color: #EEEEEE;
  border-radius: 20px;
}


.App-logo {
  height: 4vmin;
  pointer-events: none;
  
}

.text-logo{
  font-family: "Fredoka One";
  font-size: 200%;
  text-align: center;
  padding-bottom: 0.2vw;
  padding-left: 0.5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.detail{
  background-color: rgb(53, 53, 53);
  height: 100vh;
  width: 100%;
  font-size: x-large;
  text-align: center;
  color: aliceblue;
  border-radius: 20px;
  
  
}

@media (max-width: 425px){
  .container{
      width: 100%;

      overflow-y: scroll;
      margin-bottom: 20px;

  }
  .App-logo {
    position: relative;
    height: 8vw;
    left: 7vw;

  }
  .text-logo{
    padding-bottom: 0.7vw;
    padding-left: 8vw;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(360deg);
  }
}

